* {
    padding: 0;
    margin: 0;
}

.page-header {
    background-color: rgb(71, 109, 141);
}

.page-header h1 {
    text-align: center;
    display: block;
    text-decoration: underline;
}

.enter-out {
    align-items: center;
    display: flex;
    margin: 0px 10px 10px;
}

.enter-out-button {
    border: none;
    background: none;
    outline: none;
}

