{% extends "global/base.html" %}
{% load i18n %}

{% block content %}
<div>

    {% if user.is_authenticated %}
        <h2>{%translate 'Wellcome'%}, {{ user }}!</h2>

        <button class="create-btn">
            <a href="{% url 'todo_list:create_todo' %}">{%translate 'Create To-Do'%}</a>
        </button>
        
        {% for todo in todos %}
            {% include 'todo_list/partials/todo.html' %}
        {% empty %}
            <div class="empty-box">
                <img src="https://cdn-icons-png.flaticon.com/512/4076/4076549.png" alt="">
                <h3>{%translate "you don't have any tasks yet"%}</h3>
            </div>
        {% endfor %}



    {% else %}
        <h2>{%translate 'Log in to see your tasks'%}</h2>
    {% endif %}

</div>
{% endblock content %}
