<div class="task">

    <a href="{% url 'todo_list:edit_todo' todo.id %}" class="task-title">
        <h4>{{ todo.tarefa }}</h4>
        <p class="task-desc">{{ todo.descrição }}</p>
    </a>

    <div class="status 
        {% if todo.status == 'Pendente' %}
            status-pending
        {% else %}
            status-done
        {% endif %}
    ">
        <p>{{ todo.status }}</p>
    </div>

    {% if todo.categoria.all %}
    {% for cat in todo.categoria.all %}
        <p>{{ cat.name }}</p>
    {% endfor %}
{% endif %}

    <div class="toggle-status">
        {% include "todo_list/partials/toggle_status.html" %}
        {% include "todo_list/partials/delete_confirm.html" %}
    </div>

</div>
